<form method="post" action="{{ path('employer_delete', {'id': employer.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employer.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
