{% extends 'base.html.twig' %}

{% block title %}Personne index{% endblock %}


{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">

            <!-- Heading -->
            <div class="card mb-4 wow fadeIn">

                <!--Card content-->
                <div class="card-body d-sm-flex justify-content-between">

                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
                        <span>/</span>
                        <span>Dashboard</span>
                    </h4>

                    <form class="d-flex justify-content-center">
                        <!-- Default input -->
                        <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
                        <button class="btn btn-primary btn-sm my-0 p" type="submit">
                            <i class="fas fa-search"></i>
                        </button>

                    </form>

                </div>

            </div>
            <!-- Heading -->


            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Employer</div>

                        <!--Card content-->
                        <div class="card-body">

                            <h1>Employer</h1>

                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ employer.id }}</td>
                                </tr>
                                <tr>
                                    <th>Firsname</th>
                                    <td>{{ employer.firsname }}</td>
                                </tr>
                                <tr>
                                    <th>Lastname</th>
                                    <td>{{ employer.lastname }}</td>
                                </tr>
                                <tr>
                                    <th>Birthdaydate</th>
                                    <td>{{ employer.birthdaydate ? employer.birthdaydate|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Salary</th>
                                    <td>{{ employer.salary }}</td>
                                </tr>
                                <tr>
                                    <th>Entreprise</th>
                                    <td>{{ employer.entreprise.name }}</td>
                                </tr>
                                </tbody>
                            </table>

                            <a href="{{ path('employer_index') }}">Retour à la liste</a>

                            <a href="{{ path('employer_edit', {'id': employer.id}) }}">Éditer</a>

                            {{ include('employer/_delete_form.html.twig') }}

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->


        </div>
    </main>
    <!--Main layout-->


{% endblock %}













