{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}
{% block body %}

    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">


            {% include "Common/Heading.html.twig" %}


            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">


                        <!--Card content-->
                        <div class="card-body">

                            <div class="example-wrapper">
                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                <h1>{{ controller_name }}! ✅</h1>

                                <form name="{{ path('gestionPaieEmploye') }}" method="post">
                                    <div id="gestionPaieEmploye">
                                        <div><label for="gestionPaieEmploye_Client" class="required">Name Client : </label>
                                            <select id="gestionPaieEmploye_Client"
                                                                  name="gestionPaieEmploye[Client]"
                                                                  class="form-control">

                                                {% if clients is defined and clients is not null %}
                                                    <option value="" disabled selected>Veuillez selectionnez une option</option>
                                                    {% for client in clients %}
                                                        <option value="{{ client.id }}">{{ client.name }}</option>
                                                    {% endfor %}
                                                {% endif %}

                                            </select>
                                        </div>
                                        <div><label for="gestionPaieEmploye_Employe" class="required">Employe : </label>
                                            <select id="gestionPaieEmploye_Employe"
                                                                  name="gestionPaieEmploye[Employe]"
                                                                  class="form-control">
                                            </select>
                                        </div>
                                        <div><label for="gestionPaieEmploye_salaire" class="required">Salaire
                                                : </label><input type="number" id="gestionPaieEmploye_salaire"
                                                                 name="gestionPaieEmploye[salaire]"
                                                                 required="required" class="form-control"></div>
                                        <div>
                                            <button type="submit" id="gestionPaieEmploye_Payer"
                                                    name="gestionPaieEmploye[Payer]"
                                                    class="btn btn-success waves-effect waves-light">Payer
                                            </button>
                                        </div>
                                </form>
                            </div>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->


        </div>
    </main>
    <!--Main layout-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#gestionPaieEmploye_Client').on('change', function () {
                var selected = $('#gestionPaieEmploye_Client :selected').val();
                $.ajax({
                    type: "POST",
                    url: "/employer/employeByClient",
                    data: {'id': selected},
                    success: function (response) {
                        $('#gestionPaieEmploye_Employe').html("");
                        $.each(response, function () {
                            $('#gestionPaieEmploye_Employe').append('<option value=' + this.id + '>' + this.NameClient + '</option>');
                        });
                    },
                    error: function (response, xhr, status) {
                        alert("error" + status);
                    }
                });
            });
        });
    </script>
{% endblock %}





















