{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">


            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">

                        <!--Grid column-->
                        <div class="col-md-3">

                            <!-- Card Regular -->
                            <div class="card card-cascade">

                                <!-- Card image -->
                                <div class="view view-cascade overlay">
                                    <img class="card-img-top" src="{{ asset('img/epsi.jpg') }}"
                                         alt="Card image cap">
                                    <a>
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>

                                <!-- Card content -->
                                <div class="card-body card-body-cascade text-center">

                                    <!-- Title -->
                                    <h4 class="card-title"><strong>EPSI</strong></h4>
                                    <!-- Subtitle -->
                                    <h6 class="font-weight-bold indigo-text py-2">L'école d'ingénierie informatique</h6>
                                    <!-- Text -->
                                    <p class="card-text">Grenoble compte parmi les poumons du numérique et de
                                        l’informatique français. L’écosystème digital de la ville n’a de cesse de se
                                        développer,
                                        comme en témoignent les nombreuses infrastructures de la ville telles que les
                                        incubateurs, les fab labs ou encore les espaces de co-working.
                                    </p>

                                    <!-- Facebook -->
                                    <a href="https://www.epsi.fr/" type="button"
                                       class="btn-floating btn-small btn-fb"><i
                                                class="fab fa-facebook-f"></i></a>
                                    <!-- Twitter -->
                                    <a href="https://www.epsi.fr/" type="button"
                                       class="btn-floating btn-small btn-tw"><i
                                                class="fab fa-twitter"></i></a>
                                    <!-- Google + -->
                                    <a href="https://www.epsi.fr/" type="button"
                                       class="btn-floating btn-small btn-dribbble"><i
                                                class="fab fa-dribbble"></i></a>

                                </div>

                            </div>
                            <!-- Card Regular -->

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">

                        <!--Grid column-->
                        <div class="col-md-3">

                            <!-- Card Regular -->
                            <div class="card card-cascade">

                                <!--Avatar-->
                                <div class="avatar mx-auto white"><img
                                            src="{{ asset('img/dib.jpg') }}"
                                            alt="avatar mx-auto white" class="rounded-circle img-fluid">
                                </div>

                                <!-- Card content -->
                                <div class="card-body card-body-cascade text-center">

                                    <!-- Title -->
                                    <h4 class="card-title"><strong>DIB Mohammed</strong></h4>
                                    <!-- Subtitle -->
                                    <h6 class="font-weight-bold indigo-text py-2">Développeur web</h6>
                                    <!-- Text -->
                                    <p class="card-text">Développeur web chez Kheeos, Ma réussite professionnelle étant
                                        mon objectif principal.<br>
                                        Joue à des jeux video et un footballeur professionnel
                                    </p>

                                    <!-- Facebook -->
                                    <a href="https://www.facebook.com/mohammeddib3/" type="button"
                                       class="btn-floating btn-small btn-fb"><i
                                                class="fab fa-facebook-f"></i></a>
                                    <!-- Twitter -->
                                    <a href="https://twitter.com/mohammeddib85" type="button"
                                       class="btn-floating btn-small btn-tw"><i
                                                class="fab fa-twitter"></i></a>
                                    <!-- Linkdin + -->
                                    <a href="https://www.linkedin.com/in/mohammeddib3/" type="button"
                                       class="btn-floating btn-small btn-dribbble"><i
                                                class="fab fa-linkedin-in"></i></a>

                                </div>

                            </div>
                            <!-- Card Regular -->

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-3">

                            <!-- Card Regular -->
                            <div class="card card-cascade">

                                <!--Avatar-->
                                <div class="avatar mx-auto white"><img
                                            src="{{ asset('img/issam.jpg') }}"
                                            alt="avatar mx-auto white" class="rounded-circle img-fluid">
                                </div>

                                <!-- Card content -->
                                <div class="card-body card-body-cascade text-center">

                                    <!-- Title -->
                                    <h4 class="card-title"><strong>LAMMRI ISSAM</strong></h4>
                                    <!-- Subtitle -->
                                    <h6 class="font-weight-bold indigo-text py-2">Développeur web</h6>
                                    <!-- Text -->
                                    <p class="card-text">Développeur web chez Live-session,et un photographe expert sur
                                        le domaine de paysage et le portrait, ainsi propriétaire de start-up
                                        ForkInnovation pour le développement IA et IOT.
                                    </p>

                                    <!-- Facebook -->
                                    <a href="https://www.facebook.com/issam.lamrri/" type="button"
                                       class="btn-floating btn-small btn-fb"><i
                                                class="fab fa-facebook-f"></i></a>
                                    <!-- Twitter -->
                                    <a href="https://twitter.com/ILammri" type="button"
                                       class="btn-floating btn-small btn-tw"><i
                                                class="fab fa-twitter"></i></a>
                                    <!-- Linkdin + -->
                                    <a href="https://www.linkedin.com/in/issam-lammri-2a3174163/" type="button"
                                       class="btn-floating btn-small btn-dribbble"><i
                                                class="fab fa-linkedin-in"></i></a>

                                </div>

                            </div>
                            <!-- Card Regular -->

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-3">

                            <!-- Card Regular -->
                            <div class="card card-cascade">

                                <!--Avatar-->
                                <div class="avatar mx-auto white"><img
                                            src="{{ asset('img/Kebabi.jpg') }}"
                                            alt="avatar mx-auto white" class="rounded-circle img-fluid">
                                </div>

                                <!-- Card content -->
                                <div class="card-body card-body-cascade text-center">

                                    <!-- Title -->
                                    <h4 class="card-title"><strong>KEBBABI Younes</strong></h4>
                                    <!-- Subtitle -->
                                    <h6 class="font-weight-bold indigo-text py-2">Développeur web</h6>
                                    <!-- Text -->
                                    <p class="card-text">Développeur Web passionné par tout ce qui est digital,<br>
                                        autodidacte et profite de son temps libre<br> pour se former dans les nouvelles
                                        technologies.
                                    </p>

                                    <!-- Facebook -->
                                    <a href="https://twitter.com/younes_kebbabi" type="button"
                                       class="btn-floating btn-small btn-fb"><i
                                                class="fab fa-facebook-f"></i></a>
                                    <!-- Twitter -->
                                    <a href="https://twitter.com/younes_kebbabi" type="button"
                                       class="btn-floating btn-small btn-tw"><i
                                                class="fab fa-twitter"></i></a>
                                    <!-- Linkdin + -->
                                    <a href="www.linkedin.com/in/younes-kebbabi-a7461a198" type="button"
                                       class="btn-floating btn-small btn-dribbble"><i
                                                class="fab fa-linkedin-in"></i></a>

                                </div>

                            </div>
                            <!-- Card Regular -->

                        </div>
                        <!--Grid column-->


                        <!--Grid column-->
                        <div class="col-md-3">

                            <!-- Card Regular -->
                            <div class="card card-cascade">

                                <!--Avatar-->
                                <div class="avatar mx-auto white"><img
                                            src="{{ asset('img/hafid.jpg') }}"
                                            alt="avatar mx-auto white" class="rounded-circle img-fluid">
                                </div>

                                <!-- Card content -->
                                <div class="card-body card-body-cascade text-center">

                                    <!-- Title -->
                                    <h4 class="card-title"><strong>HAFID Mohamed</strong></h4>
                                    <!-- Subtitle -->
                                    <h6 class="font-weight-bold indigo-text py-2">Développeur web</h6>
                                    <!-- Text -->
                                    <p class="card-text">Expert en développement des applications web , desktop et l'analyse algorithmique<br>
                                    </p>

                                    <!-- Facebook -->
                                    <a href="https://www.facebook.com/Mohamed.hafid11/" type="button" class="btn-floating btn-small btn-fb"><i
                                                class="fab fa-facebook-f"></i></a>
                                    <!-- Twitter -->
                                    <a href="https://www.facebook.com/Mohamed.hafid11/" type="button" class="btn-floating btn-small btn-tw"><i
                                                class="fab fa-twitter"></i></a>
                                    <!-- Linkdin + -->
                                    <a href="https://www.linkedin.com/in/mohamed-hafid-4b4689167/" type="button"
                                       class="btn-floating btn-small btn-dribbble"><i
                                                class="fab fa-linkedin-in"></i></a>

                                </div>

                            </div>
                            <!-- Card Regular -->

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->


        </div>
    </main>
    <!--Main layout-->


{% endblock %}
