<!--Footer-->
<footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
        <a class="btn btn-outline-white" href="http://mspr3.issam-lammri.com/home" target="_blank"
           role="button">dev
            <i class="fas fa-graduation ml-2"></i>
        </a>
        <a class="btn btn-outline-white" href="http://erp-preudhomme.issam-lammri.com/home" target="_blank"
           role="button">prod
            <i class="fas fa-graduation-cap ml-2"></i>
        </a>
        <a class="btn btn-outline-white" href="http://documentation.mspr3.issam-lammri.com/" target="_blank"
           role="button">Documentation
            <i class="fas fa-graduation-cap ml-2"></i>
        </a>
        <a class="btn btn-outline-white" href="https://gitlab.com/issam_lammri/erp-preudhomme/-/wikis/home" target="_blank"
           role="button">Wiki-Projet
            <i class="fas fa-graduation-cap ml-2"></i>
        </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
        <a href="https://gitlab.com/issam_lammri/erp-preudhomme" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="https://gitlab.com/issam_lammri/erp-preudhomme" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="https://gitlab.com/issam_lammri/erp-preudhomme" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="https://gitlab.com/issam_lammri/erp-preudhomme" target="_blank">
            <i class="fab fa-google-plus mr-3"></i>
        </a>

        <a href="https://gitlab.com/issam_lammri/erp-preudhomme" target="_blank">
            <i class="fab fa-dribbble mr-3"></i>
        </a>

        <a href="https://gitlab.com/issam_lammri/erp-preudhomme" target="_blank">
            <i class="fab fa-pinterest mr-3"></i>
        </a>

        <a href="https://gitlab.com/issam_lammri/erp-preudhomme" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>

        <a href="https://gitlab.com/issam_lammri/erp-preudhomme" target="_blank">
            <i class="fab fa-codepen mr-3"></i>
        </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2021 Copyright:
        <a href="https://gitlab.com/issam_lammri/erp-preudhomme" target="_blank"> Project MSPR 3 </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->