<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="https://gitlab.com/issam_lammri/erp-preudhomme" target="_blank">
            <strong class="blue-text">Project MSPR 3 </strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="http://documentation.mspr3.issam-lammri.com/"
                       target="_blank">Documentation</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link waves-effect" href="https://gitlab.com/issam_lammri/erp-preudhomme/-/wikis/home"
                       target="_blank">Wiki-Projet</a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="https://gitlab.com/issam_lammri/erp-preudhomme" class="nav-link waves-effect"
                       target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://gitlab.com/issam_lammri/erp-preudhomme" class="nav-link waves-effect"
                       target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://gitlab.com/issam_lammri/erp-preudhomme"
                       class="nav-link border border-light rounded waves-effect"
                       target="_blank">
                        <i class="fab fa-github mr-2"></i>Project MSPR 3
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>
<!-- Navbar -->